#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
}
#bc{
  background-color: rebeccapurple;
}
#heydiv{
  background-color: aqua;
}